.git
.gitignore
.env
.env.local
.env.*.local
storage/logs/*
storage/framework/cache/*
storage/framework/views/*
node_modules
vendor
.DS_Store
.editorconfig
README.md
phpunit.xml
tests/
.vscode/
.idea/
*.log
